<!-- This below line will include (EJS Template) all the HTML as well as the BOOTSTRAP in this page. -->
<%- include('../layout') %>

<!-- This is the Dashboard Page. -->
<div class="jumbotron bg-dark text-white">
  <h1 class="display-4"><strong>Dashboard</strong></h1>
  <p class="lead">DriveTest Booking Portal</p>
</div>
<div class="containerDashboard">
  <h2><strong>You can book Driving Licence Test from this Portal</strong></h2>
  <p>You can book Driving Licence Test from this Portal</p>
  <p class="text-muted">
    Posted by <strong><i>DriveTest Center</i></strong>
  </p>
</div>
